body.home {
  background: #0c0c0c;

  .inner-page {
    overflow: hidden;
  }

  .sub-site-wrap {
    overflow: visible;
    position: relative;
    z-index: 100;
  }

  .template-slogan-mask {
    background: url("../images/line_body_bg.png") left top repeat-x;
  }

  .template-slogan {
    .template-slogan-content {
      height: 900px;
      background: url("../images/draw_head.png") no-repeat center center;
      display: flex;
      justify-content: center;
      padding-top: 110px;
    }
  }

  @media (min-width: 768px) {
    .template-slogan {
      padding-top: 82px;
    }
  }

  .template-headline {
    width: 660px;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: TitilliumWeb, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 71px;
      font-weight: 800;
      padding: 0;
      margin: 0;
      line-height: 1;
      letter-spacing: 5.2px;
    }

    h2 {
      font-family: TitilliumWeb, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 19px;
      font-weight: 200;
      padding: 0;
      margin: 0;
      line-height: 2.6;
      letter-spacing: 3.3px;
    }

    .description {
      margin-top: 42px;
      font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 200;
      line-height: 2;
      letter-spacing: 1px;
      color: #ced1d6;
    }
  }

  .get-started {
    .btn-lg {
      width: 200px;
      height: 54px;
      border-radius: 5px;
      font-family: TitilliumWeb, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 35px;
      letter-spacing: 3px;
      transition: all 300ms ease;

      &:hover, &:focus {
        transition: all 300ms ease-in;
      }
    }

    .btn-primary {
      margin-top: 59px;
      background: rgba(58, 89, 240, 0.8);
      border: none;

      &:hover, &:focus {
        background: rgba(35, 52, 138, 1);
      }
    }

    .btn-github {
      margin-top: 39px;
      color: #fff;
      border: 1px solid #7c7c9a;

      &:hover, &:focus {
        border: 1px solid #fff;
      }
    }
  }

  .icon-github {
    background: url("../images/icon_github.png");
    width: 20px;
    height: 19px;
    background-size: cover;
    display: inline-block;
    vertical-align: sub;
    margin-right: 8px;
  }

  .slogan-mask {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .slogan {
    z-index: 1;
    color: #fff;
    width: 100%;

    .slogan-content {
      position: relative;
    }
  }

  #tidb-features {
    margin-top: -200px;
    min-height: 1270px;
    background: url("../images/features_back.png") center top no-repeat;

    .container {
      padding-top: 300px;
    }
  }

  .feature-list {
    padding-left: 106px;
    position: relative;

    .btn-graphic{
      display: inline-block;
      position: absolute;
      width: 70px;
      height: 70px;
      left: 0;

      &.open-source {
        background: url("../images/icon_open.png") center center no-repeat;
        background-size: 58px 52px;
      }

      &.sql {
        background: url("../images/icon_full.png") center center no-repeat;
        background-size: 69px 53px;
      }

      &.availibility {
        background: url("../images/icon_hours.png") center center no-repeat;
        background-size: 60px 60px;
      }

      &.ddl {
        background: url("../images/icon_online.png") center center no-repeat;
        background-size: 56px 49px;
      }

      &.transaction {
        background: url("../images/icon_distributed.png") center center no-repeat;
        background-size: 63px 44px;
      }

      &.healing {
        background: url("../images/icon_self.png") center center no-repeat;
        background-size: 58px 53px;
      }
    }

    h3 {
      font-family: TitilliumWeb, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 29px;
      font-weight: 400;
      line-height: 1.9;
      letter-spacing: 4px;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 200;
      line-height: 2;
      letter-spacing: 1px;
      color: #ced1d6;
    }
  }
}
